<header>
  <div id="about">
    <a href="#about">about</a>
  </div>
</header>

<main>
  <h1>
    Plain to Cipher
  </h1>

  <div id="change-app">
    <p>change to:</p>
    <a href="#cipher-to-plain">cipher to plain</a>
    <div>
      <----------------
    </div>
  </div>

  <div id="cipher-area">
    <textarea [(ngModel)]="plaintext" name="plaintext" id="plaintext-area" cols="40" rows="15" placeholder="Type or paste your text to encrypt..."></textarea>

    <div id="cipher-options">
      <select [(ngModel)]="selected" name="algorithm-options" id="algorithms-options">
        <option value="" selected>-- Algorithms --</option>
        <option *ngFor="let item of algorithmsList" [ngValue]="item.value">{{ item.label }}</option>
      </select>
  
      <button (click)="encrypt()">Encrypt</button>  
    </div>
        
    <textarea [(ngModel)]="ciphertext" name="ciphertext" id="ciphertext-area" cols="40" rows="15" disabled></textarea>
  </div>


  <section>
    <h2>Cipher Algorithms</h2>

    <article>
      <h3>Ceaser's Cipher</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce leo diam, tincidunt vel metus vitae, cursus laoreet turpis. Nulla consequat, lectus vitae iaculis tincidunt, sapien lectus molestie nibh, et sagittis purus sem eget risus. Nulla ut risus interdum, cursus dui quis, mattis velit. Sed sodales condimentum eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere</p>
    </article>

    <article>
      <h3>RSA</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce leo diam, tincidunt vel metus vitae, cursus laoreet turpis. Nulla consequat, lectus vitae iaculis tincidunt, sapien lectus molestie nibh, et sagittis purus sem eget risus. Nulla ut risus interdum, cursus dui quis, mattis velit. Sed sodales condimentum eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere</p>
    </article>

    <article>
      <h3>Block Ciphers</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce leo diam, tincidunt vel metus vitae, cursus laoreet turpis. Nulla consequat, lectus vitae iaculis tincidunt, sapien lectus molestie nibh, et sagittis purus sem eget risus. Nulla ut risus interdum, cursus dui quis, mattis velit. Sed sodales condimentum eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere</p>
    </article>



  </section>
</main>
