header {
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

a {
    text-decoration: none;
    color: white;
}